:root {
    --cor-principal: #2e4156;
    --cor-secundaria: #d3d3d3;
    --cor-terciaria: #9db3c0;
    --cor-limpeza-concorrente: #a01a58;
    --cor-limpeza-concorrente-com-transparencia: #a01a581A;
    --cor-limpeza-terminal: #ff6700;
    --cor-limpeza-terminal-com-transparencia: #ff67001A;
    --cor-aguardando-revisao: #0D47A1;
    --cor-aguardando-revisao-com-transparencia: #BBDEFB;
    --cor-limpeza-apos-revisao: #169490;
    --cor-limpeza-apos-revisao-com-transparencia: #C1F6F4;
    --cor-fundo: #e8e9eb;
    --cor-principal-com-transparencia: #2e41561A;
    --cor-principal-com-transparencia-dois: rgba(46, 65, 86, 0.5);
    --cor-secundaria-com-transparencia: rgba(211, 211, 211, 0.5);
    --cor-disponivel: #16A34A;
    --cor-disponivel-com-transparencia: #16A34A1A;
    --cor-inativo: #8a0404;
    --cor-inativo-com-transparencia: rgba(138, 4, 4, 0.2);
    --cor-limpeza-emergencial: #E81313;
    --cor-limpeza-emergencial-com-transparencia: #FDE7E7;
}

html {
    background-color: var(--cor-fundo);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.spinner-border {
    color: var(--cor-principal);
}

#painel .card {
    border-radius: 12px;
}

#painel .card-header {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    background-color: white;
}

#painel .card-body {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#painel table tr th {
    background-color: rgb(241, 243, 245);
}

#painel table tr:last-child td {
    border-bottom: none;
}

.form-check-input:checked {
    background-color: var(--cor-disponivel) !important;
    border-color: var(--cor-disponivel) !important;
}

.form-check-input:focus {
    border-color: var(--cor-disponivel) !important;
    box-shadow: 0 0 0 .25rem var(--cor-disponivel-com-transparencia) !important;
}

input.form-control:focus,
textarea.form-control:focus {
    border-color: var(--cor-principal);
    box-shadow: 0 0 0 .25rem var(--cor-principal-com-transparencia);
}

select.form-select:focus {
    border-color: var(--cor-principal);
    box-shadow: 0 0 0 .25rem var(--cor-principal-com-transparencia);
}

.btn:active:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem var(--cor-principal);
}

.height-loading {
    height: 86vh;
}

.blazored-modal.size-large {
    max-width: 900px !important;
    width: 90vw;
}

.blazored-toast-container.position-topright {
    top: calc(3rem + 50px) !important;
    right: 1rem !important;
}

.rz-timeline-point-primary {
    background-color: var(--cor-limpeza-concorrente) !important;
}

.rz-timeline-point-secondary {
    background-color: var(--cor-limpeza-terminal) !important;
}

.rz-timeline-point-danger {
    background-color: var(--cor-limpeza-emergencial) !important;
}