.card {
    border-radius: 12px;
    border: none;
}

    .card .cabecalho {
        background-color: var(--cor-terciaria);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

.card-body {
    background-color: var(--cor-secundaria);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.concorrente {
    color: var(--cor-limpeza-concorrente);
    line-height: normal;
}

.terminal {
    color: var(--cor-limpeza-terminal);
    line-height: normal;
}

.numero-concorrente {
    border-radius: 50%;
    color: var(--cor-limpeza-concorrente);
    border: 3px solid var(--cor-limpeza-concorrente);
    width: 40px;
    height: 40px;
    padding: 25px;
}

.numero-terminal {
    border-radius: 50%;
    color: var(--cor-limpeza-terminal);
    border: 3px solid var(--cor-limpeza-terminal);
    width: 40px;
    height: 40px;
    padding: 25px;
}

    .numero-concorrente span,
    .numero-terminal span {
        font-size: 2.5em;
    }