@page "/quartos"
@using ProjetoHospitalShared
@using ProjetoHospitalWebAssembly.Components
<div class="card">
    <div class="cabecalho px-3 py-2">
        <h1>Necessitam limpeza</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <NumeroQuartos Texto="Limpeza corrente" Quantidade="3" TipoLimpeza="TipoLimpezaEnum.Corrente" />
            </div>
            <div class="col-6">
                <NumeroQuartos Texto="Limpeza corrente" Quantidade="3" TipoLimpeza="TipoLimpezaEnum.Terminal" />
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center mt-4 gap-2">
    <BotaoPrincipal Texto="Andar 01" />
    <BotaoSecundario Texto="Andar 02" />
</div>
<div class="mt-4">
    <CardQuarto TipoLimpeza="TipoLimpezaEnum.Corrente" />
</div>
<div class="mt-4">
    <CardQuarto TipoLimpeza="TipoLimpezaEnum.Terminal" />
</div>

<div class="mt-4">
    <NumeroQuartos />
</div>

<div class="mt-4">
    <CardStatusQuartoPainel />
</div>