@page "/quartos"
@using ProjetoHospitalWebAssembly.Components
<div class="card">
    <div class="cabecalho px-3 py-2">
        <h1>Necessitam limpeza</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="corrente fw-bold fs-3">Limpeza corrente</span>
                    <div class="numero-corrente d-flex justify-content-center align-items-center">
                        <span class="fw-bold">3</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="terminal fw-bold fs-3">Limpeza terminal</span>
                    <div class="numero-terminal d-flex justify-content-center align-items-center">
                        <span class="fw-bold">3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-items-center justify-content-center mt-4 gap-2">
    <BotaoPrincipal Texto="Andar 01" />
    <BotaoSecundario Texto="Andar 02" />
</div>
<div class="mt-4">
    <CardQuarto TipoLimpeza="ProjetoHospitalShared.TipoLimpezaEnum.Corrente" />
</div>
<div class="mt-4">
    <CardQuarto TipoLimpeza="ProjetoHospitalShared.TipoLimpezaEnum.Terminal" />
</div>