<div class="d-flex align-items-center">
    <span class="fs-5">@Texto</span>
</div>
<div class="row mt-4">
    <div class="col-6">
        <button type="button" class="btn btn-success w-100" @onclick="Confirmar">Confirmar</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-danger w-100" @onclick="Cancelar">Cancelar</button>
    </div>
</div>
