@if (this.isLoading)
{
    <Loading />
}
else
{
    <div class="d-flex flex-wrap justify-content-between">
        <span class="fs-5">Legenda:</span>
        <div class="d-flex flex-wrap gap-2">
            <div class="d-flex align-items-center gap-1">
                <div class="circulo limpeza-concorrente"></div>
                <span class="fs-5">Limpeza concorrente</span>
            </div>
            <div class="d-flex align-items-center gap-1">
                <div class="circulo limpeza-terminal"></div>
                <span class="fs-5">Limpeza terminal</span>
            </div>
        </div>
    </div>
    <RadzenTimeline Orientation="Orientation.Vertical" LinePosition="LinePosition.Center" Reverse="false" class="rz-m-4">
        <Items>
            @foreach (var limpeza in limpezas)
            {
                <RadzenTimelineItem PointStyle="@(limpeza.TipoLimpeza == 0 ? PointStyle.Primary : PointStyle.Secondary)">
                    <LabelContent>
                        <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-m-0 rz-color-primary">
                            <div class="d-flex flex-column">
                                <span>Data de início: @limpeza.DataInicioLimpeza</span>
                                <span>Data de finalização: @limpeza.DataFimLimpeza</span>
                            </div>
                        </RadzenText>
                    </LabelContent>
                    <ChildContent>
                        <div class="d-flex flex-column">
                            @if (limpeza.TipoLimpeza == 0)
                            {
                                <span>Limpeza concorrente</span>
                            }
                            else
                            {
                                <span>Limpeza terminal</span>
                            }
                            <span>Feita por: @limpeza.Usuario.Nome</span>
                        </div>
                    </ChildContent>
                </RadzenTimelineItem>
            }
        </Items>
    </RadzenTimeline>
}