@page "/limpeza-revisao/{idRevisao}"
@layout LayoutAppLimpeza

@if (this.isLoading)
{
    <div class="height-loading d-flex align-items-center justify-content-center">
        <Loading />
    </div>
}
else
{
    <div class="card">
        <div class="p-3 d-flex justify-content-between align-items-center">
            <span class="fs-5">Leito: @revisao.LeitoNome</span>
            <span class="fs-5">Quarto: @revisao.QuartoNome</span>
        </div>
        <div class="d-flex align-items-center flex-column">
            <span class="fw-bold fs-5">Observações:</span>
            <span class="mt-2 fs-5">@revisao.Observacoes</span>
        </div>

        <div class="d-grid p-3 mt-4">
            <BotaoPrincipal Texto="Finalizar revisão" OnClick="FinalizarRevisao" Disabled="this.isLoading" />
        </div>
    </div>   
}