@page "/limpeza-concorrente/{idLimpeza}"
@layout MainLayoutApp

@if (this.isLoading)
{
    <div class="height-loading d-flex align-items-center justify-content-center">
        <Loading />
    </div>
}
else
{
    <div>
        <h1>Verifique se realizou todos os itens abaixo:</h1>
        <div class="mt-3 mb-3 form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input fs-5" id="tirarLixo" @bind="limpeza.TirarLixo">
            <label class="form-check-label fs-5 ms-2" for="tirarLixo">Tirar lixo</label>
        </div>
        <div class="mb-3 form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input fs-5" id="vasoSanitario" @bind="limpeza.LimparVasoSanitario">
            <label class="form-check-label fs-5 ms-2" for="vasoSanitario">Limpar vaso sanitário</label>
        </div>
        <div class="mb-3 form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input fs-5" id="limparBox" @bind="limpeza.LimparBox">
            <label class="form-check-label fs-5 ms-2" for="limparBox">Limpar box</label>
        </div>
        <div class="mb-3 form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input fs-5" id="revisarMofo" @bind="limpeza.RevisarMofo">
            <label class="form-check-label fs-5 ms-2" for="revisarMofo">Revisar o mofo no quarto e no banheiro</label>
        </div>
        <div class="mb-3 form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input fs-5" id="limparPia" @bind="limpeza.LimparPia">
            <label class="form-check-label fs-5 ms-2" for="limparPia">Limpar a pia</label>
        </div>
        <div class="mb-3 form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input fs-5" id="limparCama" @bind="limpeza.LimparCama">
            <label class="form-check-label fs-5 ms-2" for="limparCama">Limpar a cama</label>
        </div>
        <div class="mb-3 form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input fs-5" id="limparMesaCabeceira" @bind="limpeza.LimparMesaCabeceira">
            <label class="form-check-label fs-5 ms-2" for="limparMesaCabeceira">Limpar as mesas de cabeceira</label>
        </div>
        <div class="mb-3 form-check d-flex align-items-center">
            <input type="checkbox" class="form-check-input fs-5" id="limparLixeira" @bind="limpeza.LimparLixeira">
            <label class="form-check-label fs-5 ms-2" for="limparLixeira">Limpar lixeira</label>
        </div>
    </div>
    <div class="d-grid gap-4">
        <BotaoSecundario Texto="Marcar todos como realizado" OnClick="MarcarTodosComoRealizado" Disabled="this.isLoading" />
        <BotaoPrincipal Texto="Finalizar limpeza" OnClick="FinalizarLimpezaAsync"  Disabled="this.isLoading" />
    </div>
}