.card {
    border-radius: 12px;
    border: none;
}

    .card .cabecalho {
        background-color: var(--cor-terciaria);
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

.card-body {
    background-color: var(--cor-secundaria);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.concorrente {
    color: var(--cor-limpeza-concorrente);
    line-height: normal;
}

.terminal {
    color: var(--cor-limpeza-terminal);
    line-height: normal;
}

.numero-concorrente {
    border-radius: 50%;
    color: var(--cor-limpeza-concorrente);
    border: 3px solid var(--cor-limpeza-concorrente);
    width: 40px;
    height: 40px;
    padding: 25px;
}

.numero-terminal {
    border-radius: 50%;
    color: var(--cor-limpeza-terminal);
    border: 3px solid var(--cor-limpeza-terminal);
    width: 40px;
    height: 40px;
    padding: 25px;
}

    .numero-concorrente span,
    .numero-terminal span {
        font-size: 2.5em;
    }

.btn-badge {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
}

    .btn-badge:active,
    .btn-badge:hover,
    .btn-badge:focus,
    .btn-badge:focus-visible {
        background-color: var(--cor-principal) !important;
        color: var(--cor-secundaria);
        border: 1px solid var(--cor-principal);
        box-shadow: 0 0 0 0.1rem var(--cor-secundaria-com-transparencia), 0 0 0 0.25rem var(--cor-secundaria-com-transparencia);
    }

.selecionado {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: 1px solid var(--cor-principal);
}