@page "/quartos-para-limpar"
@layout MainLayoutApp
@using ProjetoHospitalShared
@using ProjetoHospitalWebAssembly.Components

@if (this.isLoading)
{
    <div class="height-loading d-flex align-items-center justify-content-center">
        <Loading />
    </div>
}
else
{
    <div class="card">
        <div class="cabecalho px-3 py-2">
            <h1>Limpezas não iniciadas</h1>
        </div>
        <div class="card-body px-2 py-2">
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <NumeroQuartos Texto="Limpeza concorrente" Quantidade="quantidadeLeitosParaLimpezaConcorrente" TipoLimpeza="TipoLimpezaEnum.Concorrente" />
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <NumeroQuartos Texto="Limpeza Terminal" Quantidade="quantidadeLeitosParaLimpezaTerminal" TipoLimpeza="TipoLimpezaEnum.Terminal" />
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-center mt-4 gap-2">
        @foreach (var setor in setores)
        {
            <button type="button" class="btn btn-badge rounded-pill @(setorSelecionado.Id == setor.Id ? "selecionado" : string.Empty)" @onclick="() => OnSetorChange(setor)">
                <span class="fs-5">@setor.Nome</span>
            </button>
        }
    </div>
    @if (!leitosFiltrados.Any()
        && !limpezasEmergenciaisFiltradas.Any()
        && !revisoesNaoEncerradasFiltradas.Any()
        && !revisoesFiltradas.Any()
        && !limpezasNaoEncerradasFiltradas.Any()
        && setorSelecionado.Nome != "Todos")
    {
        <div class="alert alert-success mt-4" role="alert">
            <span>Nenhum leito precisando de limpeza para o setor selecionado.</span>
        </div>
    }
    else if (!leitosFiltrados.Any()
        && !limpezasEmergenciaisFiltradas.Any()
        && !revisoesNaoEncerradasFiltradas.Any()
        && !revisoesFiltradas.Any()
        && !limpezasNaoEncerradasFiltradas.Any()
        && setorSelecionado.Nome == "Todos")
    {
        <div class="alert alert-success mt-4" role="alert">
            <span>Todos os leitos foram limpos.</span>
        </div>
    }
    @if (limpezasEmergenciaisFiltradas.Count() > 0)
    {
        <h1 class="mt-4">Limpezas emergenciais</h1>
        @foreach (var limpezaEmergencial in limpezasEmergenciaisFiltradas)
        {
            <div class="mt-4">
                <CardQuarto LimpezaEmergencial="limpezaEmergencial" OnClick="() => IniciarLimpezaEmergencial(limpezaEmergencial)" />
            </div>
        }
    }
    @if (revisoesNaoEncerradasFiltradas.Count() > 0)
    {
        <h1 class="mt-4">Limpezas solicitadas pós revisão iniciadas por você</h1>
        @foreach (var revisao in revisoesNaoEncerradasFiltradas)
        {
            <div class="mt-4">
                <CardQuarto Revisao="revisao" OnClick="() => ContinuarLimpezaRevisao(revisao)" />
            </div>
        }
    }
    @if (revisoesFiltradas.Count() > 0)
    {
        <h1 class="mt-4">Limpezas solicitadas pós revisão</h1>
        @foreach (var revisao in revisoesFiltradas)
        {
            <div class="mt-4">
                <CardQuarto Revisao="revisao" OnClick="() => IniciarLimpezaRevisao(revisao)" />
            </div>
        }
    }
    @if (limpezasNaoEncerradasFiltradas.Count() > 0)
    {
        <h1 class="mt-4">Limpezas iniciadas por você</h1>
        @foreach (var limpezaNaoEncerrada in limpezasNaoEncerradasFiltradas)
        {
            <div class="mt-4">
                <CardQuarto Limpeza="limpezaNaoEncerrada" OnClick="() => ContinuarLimpeza(limpezaNaoEncerrada)" />
            </div>
        }
    }
    @if (leitosFiltrados.Count() > 0)
    {
        <h1 class="mt-4">Necessitam limpeza</h1>
        @foreach (var leito in leitosFiltrados)
        {
            <div class="mt-4">
                <CardQuarto Leito="leito" OnClick="() => LimparLeito(leito)" />
            </div>
        }
    }
}