@page "/revisoes"
@layout LayoutAppRevisao

@if (this.isLoading)
{
    <div class="height-loading d-flex align-items-center justify-content-center">
        <Loading />
    </div>
}
else
{
    <h1 class="mt-4">Limpezas que precisam de revisão</h1>
    @if (!revisoesPendentes.Any())
    {
        <div class="alert alert-success mt-4" role="alert">
            <span>Todas as limpezas foram revisadas.</span>
        </div>
    }
    else
    {
        @foreach (var revisaoPendente in revisoesPendentes)
        {
            <div class="mt-4">
                <CardQuarto NecessidadeRevisao="revisaoPendente" OnClick="() => IniciarRevisao(revisaoPendente)" Disabled="this.isLoading" />
            </div>
        }
    }
}