@page "/leitos"
@using ProjetoHospitalWebAssembly.Components

<div class="d-flex justify-content-between">
    <h1 class="fs-3">Gerenciar Leitos</h1>
    <BotaoPrincipal IconeBootstrap="bi-plus" Class="gap-1" ClassTexto="fs-6" Texto="Adicionar leito" />
</div>