@page "/painel"
@using ProjetoHospitalShared
@using ProjetoHospitalWebAssembly.Components

<div class="row g-4 mt-4">
    <div class="col-12 col-sm-6 col-lg-3">
        <CardStatusQuartoPainel Status="StatusQuartoEnum.Ocupado" Quantidade="this.quantidadeLeitosOcupados" />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <CardStatusQuartoPainel Status="StatusQuartoEnum.Disponivel" Quantidade="this.quantidadeLeitosDisponiveis" />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <CardStatusQuartoPainel Status="StatusQuartoEnum.Limpeza_concorrente" Quantidade="this.quantidadeLeitosLimpezaConcorrente" />
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
        <CardStatusQuartoPainel Status="StatusQuartoEnum.Limpeza_terminal" Quantidade="this.quantidadeLeitosLimpezaTerminal" />
    </div>
</div>
<div class="border border-black d-flex align-items-center justify-content-center w-100 py-5 my-3">
    <h1>Planta Hospital</h1>
</div>
<div class="d-flex flex-wrap mt-4 gap-3">
    <div class="d-flex flex-grow-1 gap-3">
        <BotaoPrincipal Texto="Andar 1" />
        <BotaoSecundario Texto="Andar 2" />
    </div>
    <div class="d-flex flex-wrap gap-3 align-items-center">
        <div class="d-flex align-items-center gap-1">
            <div class="circulo ocupados"></div>
            <span class="fs-5">Ocupado</span>
        </div>

        <div class="d-flex align-items-center gap-1">
            <div class="circulo disponiveis"></div>
            <span class="fs-5">Disponível</span>
        </div>

        <div class="d-flex align-items-center gap-1">
            <div class="circulo limpeza-concorrente"></div>
            <span class="fs-5">Limpeza concorrente</span>
        </div>

        <div class="d-flex align-items-center gap-1">
            <div class="circulo limpeza-terminal"></div>
            <span class="fs-5">Limpeza terminal</span>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h2 class="fs-4">Leitos</h2>
    </div>
    <div class="card-body p-0 table-responsive">
        <table class="table table-hover m-0 align-middle">
            <thead>
                <tr>
                    <th scope="col">Leito</th>
                    <th scope="col">Status</th>
                    <th scope="col">Última limpeza</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leito in this.leitos)
                {
                    <tr>
                        <td>
                            <span class="fw-bold">@leito.Nome</span><br />
                            <span>Quarto @leito.NomeQuarto</span>
                        </td>
                        <td>
                            <BadgeStatusQuarto Status="leito.Status" />
                        </td>
                        <td>@leito.DataHoraUltimaLimpeza</td>
                        <td class="align-middle">
                            <div class="btn-group gap-3" role="group">
                                <BotaoSecundario Class="gap-1" ClassTexto="fs-6" IconeBootstrap="bi-eye" Texto="Visualizar" />
                                @if (leito.Status == StatusQuartoEnum.Disponivel)
                                {
                                    <BotaoSecundario Class="gap-1" ClassTexto="fs-6" IconeFontAwesome="fa-solid fa-bed" Texto="Iniciar internação" />
                                }
                                @if (leito.Status == StatusQuartoEnum.Ocupado)
                                {
                                    <BotaoSecundario Class="gap-1" ClassTexto="fs-6" IconeBootstrap="bi-check2-circle" Texto="Liberar leito" />
                                }

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>