@page "/setores"
@using ProjetoHospitalWebAssembly.Components

<div class="d-flex justify-content-between">
    <h1 class="fs-3">Gerenciar Setores</h1>
    <BotaoPrincipal IconeBootstrap="bi-plus" Class="gap-1" ClassTexto="fs-6" Texto="Adicionar setor" />
</div>