.ocupados {
    color: var(--cor-principal);
    background-color: var(--cor-principal-com-transparencia);
}

.disponiveis {
    color: var(--cor-disponivel);
    background-color: var(--cor-disponivel-com-transparencia);
}

.limpeza-concorrente {
    color: var(--cor-limpeza-concorrente);
    background-color: var(--cor-limpeza-concorrente-com-transparencia);
}

.limpeza-terminal {
    color: var(--cor-limpeza-terminal);
    background-color: var(--cor-limpeza-terminal-com-transparencia);
}

.aguardando-revisao {
    background-color: var(--cor-aguardando-revisao);
    color: black;
}

.necessita-limpeza-revisao {
    background-color: var(--cor-aguardando-revisao-com-transparencia);
    color: white;
}

.limpeza-emergencial {
    background-color: var(--cor-limpeza-emergencial);
    color: white;
}