.card {
    background-color: var(--cor-secundaria);
    border-radius: 20px;
}

    .card .hr {
        border: 1px solid var(--cor-principal);
    }

    .card ul {
        padding-left: 20px;
        list-style-type: disc;
    }

.corrente {
    border: 2px solid var(--cor-limpeza-corrente);
}

    .corrente .quarto {
        color: var(--cor-limpeza-corrente);
    }

    .corrente .btn {
        color: var(--cor-fundo);
        background-color: var(--cor-limpeza-corrente);
    }

.terminal {
    border: 2px solid var(--cor-limpeza-terminal);
}
    .terminal .quarto {
        color: var(--cor-limpeza-terminal);
    }

    .terminal .btn {
        color: var(--cor-fundo);
        background-color: var(--cor-limpeza-terminal);
    }