.fundo-circulo {
    border-radius: 12px;
    width: 2rem;
    height: 2rem;
}

.circulo {
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

.ocupados .quantidade {
    color: var(--cor-principal);
}

.ocupados .fundo-circulo {
    background-color: var(--cor-principal-com-transparencia);
}

    .ocupados .circulo {
        background-color: var(--cor-principal);
    }

.disponiveis .quantidade {
    color: var(--cor-disponivel);
}

.disponiveis .fundo-circulo {
    background-color: var(--cor-disponivel-com-transparencia);
}
    .disponiveis .circulo {
        background-color: var(--cor-disponivel);
    }

.limpeza-concorrente .quantidade {
    color: var(--cor-limpeza-concorrente);
}

.limpeza-concorrente .fundo-circulo {
    background-color: var(--cor-limpeza-concorrente-com-transparencia);
}
    .limpeza-concorrente .circulo {
        background-color: var(--cor-limpeza-concorrente);
    }

.limpeza-terminal .quantidade {
    color: var(--cor-limpeza-terminal);
}

.limpeza-terminal .fundo-circulo {
    background-color: var(--cor-limpeza-terminal-com-transparencia);
}
    .limpeza-terminal .circulo {
        background-color: var(--cor-limpeza-terminal);
    }

@media (min-width: 992px) {
    .nome-limpeza {
        min-height: 60px;
    }
}