<div class="card @ClasseCss">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex flex-column">
                <span class="fw-medium">@Texto</span>
                <span class="quantidade fs-4 fw-bold">@Quantidade</span>
            </div>
            <div class="ms-3">
                <div class="fundo-circulo d-flex justify-content-center align-items-center">
                    <div class="circulo" />
                </div>
            </div>
        </div>
    </div>
</div>
