.card {
    background-color: var(--cor-secundaria);
    border-radius: 20px;
}

    .card .hr {
        border: 1px solid var(--cor-principal);
    }

    .card ul {
        padding-left: 20px;
        list-style-type: disc;
    }

.concorrente {
    border: 2px solid var(--cor-limpeza-concorrente);
}

    .concorrente .quarto {
        color: var(--cor-limpeza-concorrente);
    }

    .concorrente .btn {
        color: var(--cor-fundo);
        background-color: var(--cor-limpeza-concorrente);
    }

.terminal {
    border: 2px solid var(--cor-limpeza-terminal);
}
    .terminal .quarto {
        color: var(--cor-limpeza-terminal);
    }

    .terminal .btn {
        color: var(--cor-fundo);
        background-color: var(--cor-limpeza-terminal);
    }

.revisao {
    border: 2px solid var(--cor-principal);
}

    .revisao .quarto {
        color: var(--cor-principal);
    }

    .revisao .observacoes {
        max-width: 65vw;
    }

    .revisao .btn {
        color: white;
        background-color: var(--cor-principal);
    }