span.status {
    line-height: normal;
}
.concorrente span.status {
    color: var(--cor-limpeza-concorrente);
}

.terminal span.status {
    color: var(--cor-limpeza-terminal);
}

.numero {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 25px;
}

.numero span {
    font-size: 2.5em;
}

.concorrente .numero {
    color: var(--cor-limpeza-concorrente);
    border: 3px solid var(--cor-limpeza-concorrente);
}

.terminal .numero {
    color: var(--cor-limpeza-terminal);
    border: 3px solid var(--cor-limpeza-terminal);
}