.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu-superior {
    background-color: var(--cor-terciaria);

}

main {
    flex: 1;
    background-color: var(--cor-fundo);
    margin-top: 4rem !important;
}

.main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 1200px;
    margin: 0 auto;
}

article.content {
    margin: 0px 20px;
    box-shadow: 0 0 0 20px var(--cor-fundo);
    background-color: var(--cor-fundo);
    min-height: 100vh;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}