@inherits LayoutComponentBase
<div class="page">
    <div class="menu-superior fixed-top">
        <div class="ps-3 py-3">
            <span class="fs-4">Olá, Rodrigo</span>
        </div>
    </div>
    <main>
        <div class="main">
            <article class="content">
                @Body
            </article>
        </div>
    </main>
</div>